<div class="container">
  <h1>Welcome to Contacts Manager!</h1>
  <p>This application helps you manage your contacts efficiently.</p>

  <div>
    <%= link_to 'Manage Contacts', contacts_path, class: "btn btn-primary" %>
    <%= link_to 'Manage Groups', groups_path, class: "btn btn-secondary" %>
  </div>
</div>
